/* html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  width: 100%;
  box-sizing: border-box;
}
.signup-form, .authenticate {
  width: 100%;
  max-width: 600px;
  padding: 1em;
  box-sizing: border-box;
} */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #909feb;
  font-family: Arial, Helvetica, sans-serif;
}

.App {
  position: relative;
  width: 400px;
  height: 440px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, .5);
  border-radius: 20px;
  backdrop-filter: blur(20px);
}

#SignUpForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#SignUpForm input[type="text"], #SignUpForm input[type="password"] {
  padding: 10px;
  border: 1px solid #b73333;
  border-radius: 5px;
  gap: 10px;
}

#SignUpForm input[type="submit"], #Authenticate {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007BFF;
  color: #fff;
  cursor: pointer;
}

#SignUpForm input[type="submit"]:hover, #Authenticate:hover {
  background-color: #0056b3;
}

.signup-form {
  display: grid;
  grid-template-columns: auto;
}

